* {
  box-sizing: border-box;
}

body {
  background-color: #d7d7d7;
  color: #ffffff;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*Header Starts Here*/

header {
  background-color: #2b2b2b;
  width: 100%;
}

.icon {
  color: #ff4ef9;
  padding: 5px;
  font-size: .75rem;
}

.username-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: .5rem 1rem 0rem 0rem;
}

li {
  color: #ff4ef9;
  padding: 0px;
  list-style-type: none;
}

#username {
  color: #ffffff;
}

.nav-and-logo-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0rem 1rem 0rem 1rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  height: 2rem;
}

.nav-links {
  margin: 0rem 3rem 0rem 0rem;
  color: #d7d7d7;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: .75rem;
  text-transform: uppercase;
}

.active {
  color: #ffffff;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
}

.logo {
  padding-left: 1rem;
  font-size: 2rem;
}

/*Main Section Starts Here*/

.navigation-selection {
  margin: 0;
  color: #2b2b2b;
  padding: 1rem 0rem 1rem 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 1rem 1rem 1rem;
  justify-content: space-between;
}

article {
  background-color: #ffffff;
}

.card {
  height: 25rem;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  margin: .5rem;
  width: 20rem;
}

.top-section{
  display: flex;
 justify-content: space-between; 
 align-items: flex-start;
 height: 33.3%;
 color: #ffffff;
 padding: 1rem;
}

.arrow {
  font-size: 3rem;
}

.rating {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  font-size: .5rem;
}

.number-rating {
  margin: 0;
  text-align: right;
  font-size: 2rem;
}

.bottom-section {
  height: 66.6%;
  color: #2b2b2b;
  padding: 1rem;
}

.venue {
  margin: 0;
}

.venue-address {
  margin-top: .25rem;
  color: #d7d7d7;
  font-size: .75rem;
}

.venue-website {
  background-color: #d7d7d7;
  text-align: left;
  margin: 1rem 0rem 1rem 0rem;
  padding: .5rem 1rem 1rem 1rem;
}

.vibe {
  margin: 0;
  text-transform: uppercase;
  font-size: .5rem;
}

.venue-description {
  margin: 0;
  font-size: 1rem;
}

.check-ins {
  margin: 0;
  text-transform: uppercase;
  font-size: .5rem;
  margin-top: 1rem;
}

.number-check-ins {
  margin: 0;
  color: #ff4ef9;
  font-size: 2rem;
  padding-bottom: 1rem;
}


.image-stying {
  overflow: hidden;
  background-position: 100% 100%;
}

/*IMAGES*/

#super-power-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/super-power.jpg);
  /*background-size: cover;*/
  overflow: hidden;
  background-position: 100% 100%;
}

#crown-inn-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/crown-inn.jpg);
  background-size: cover;
  background-position: 100% 100%;
}

#doris-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/doris.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

#two-saints-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/two-saints.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

#king-tai-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/king-tai.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

#washington-commons-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/washington-commons.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

#harts-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/harts.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

#sharlenes-image {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/sharlenes.jpg);
  background-size: cover;
  background-position: 100% 45%;
}

/*MEDIA SCREENS*/

@media screen and (max-width: 1380px) {
  .cards-container {
    width: 80%;
    margin: auto;
  }
  
  .card {
    width: 28%;
  }
  
  .nav-and-logo-container {
    padding: 0rem 9rem 0rem 9rem;
  }

  .navigation-selection {
    padding: 1rem 0rem 1rem 9rem;
  }

  .username-container {
    padding: .5rem 9rem 0rem 0rem;
  }

}

@media screen and (max-width: 1320px) {
  .venue-website {
    padding: 1rem 1rem 1rem 0rem;
}

@media screen and (max-width: 1275px) {
  .cards.container {
    width: 60%;
    margin: auto;
  }

  .card {
    width: 30%;
  }

  .username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: .5rem 0rem 0rem 0rem;
  }

  .nav-and-logo-container {
    flex-direction: column-reverse;
    /*padding: 0rem 9rem 0rem 9rem;*/
  }

  .nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .cards.container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1rem 1rem 1rem;
    justify-content: center;
    /*I'm confused why justify-content: center doesn't seem to override the "space-between" value above.*/
  }

  .card {
    width: 300px;
  }
}

@media screen and (max-width: 840px) {
  .navigation-selection {
    padding: 1rem 0rem 1rem 6.5rem;
  }

  .cards.container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 1rem 1rem 1rem;
    justify-content: center;
    /*I'm confused why justify-content: center doesn't seem to override the "space-between" value above.*/
  }

  .card {
    width: 275px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-selection {
    padding: 1rem 0rem 1rem 6rem;
  }

  .cards-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 12rem 1rem 1rem 1rem;
  }

@media screen and (max-width: 320px) {}
  nav {
    visibility: hidden;
  }
  
  .navigation-selection {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  
  .cards-container {
    margin: 0px;
    width: 93.5%;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .logo {
    font-size: 4rem;
  }

@media screen and (max-width: 320px) {}
  nav {
    visibility: hidden;
  }
  
  .navigation-selection {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  .cards-container {
    margin: 0;
  }

  .logo {
    font-size: 4rem;
  }